body {
	background-color: #bf4646;
	font-family: "Oooh Baby", cursive;
}

.app-container {
	max-width: 98%;
	margin: 0 auto;
	padding: 20px 50px;
	font-family: Arial, sans-serif;
	background-color: #302e2b;
	border-radius: 8px;
	box-shadow: 4px 11px 10px 2px rgba(0, 0, 0, 0.1);
	position: relative;
}

.form-container {
	margin: 0 auto;
	position: absolute;
	left: 30px;
	top: 20px;
}

form {
	position: static;
}

.short-story {
	position: absolute;
	left: 60px;
	top: 80px;
	color: #eddcc6;
	font-family: "Oooh Baby", cursive;
}

.search-input {
	font-family: "Oooh Baby", cursive;
	background-color: #fafaf8;
	color: #595959;
	border: none;
	border-radius: 6px;
	max-width: 80%;
	font-size: 10px;
	padding: 5px 20px;
	box-shadow: 5px 8px 18px 0px rgba(0, 0, 0, 0.1);
	margin-right: 5px;
}

.search-input:focus {
	outline-style: solid;
	outline-color: #f0898783;
}

.search-input::placeholder {
	color: #59595985;
}

.search-button {
	font-family: "Oooh Baby", cursive;
	background-color: #7eacb5;
	border: none;
	border-radius: 6px;
	font-size: 10px;
	padding: 5px 20px;
	cursor: pointer;
	color: white;
	box-shadow: 5px 8px 18px 0px rgba(0, 0, 0, 0.1);
}

img {
	display: block;
	max-width: 100%;
	margin: auto;
}

footer {
	padding-top: 20px;
	text-align: center;
	color: #eddcc6;
	font-size: x-small;
	opacity: 0.5;
	font-family: "Montserrat", sans-serif;
}

a {
	text-decoration: none;
	color: #bf4646;
}
